.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(2, 63, 63);
  color: white;
}

.header-section {
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap; */
  border-bottom: solid rgb(92, 92, 92) 2px;
  width: 70vw;
  margin: auto;
}

.header-section h1 {
  display: inline-block;
}

.header-section h6 {
  display: inline-block;
  margin-left: 10vw;
}

.user-panel {
  border: solid black 2px;
  position: relative;
  display: inline-block;
}

.home-section {
  display: block;
  margin: auto;
  margin-top: 25px;
}

.log-in-form {
  width: 70vw;
  max-width: 400px;
  margin: auto;
  margin-top: 25px;
  padding: 15px;
  background-color: #282c34;
  border-radius: 5px;
}

.log-in-form input {
  border: white;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
}

.log-in-form button {
  padding: 5px 2vw 5px 2vw;
  height: 25px;
  font-size: x-small;
  margin-left: 5vw;
  margin-right: 2vw;
}

#test-user-button {
  background-color: #264953;
  margin-top: 20px;
  padding: 5px 2vw 5px 2vw;
  height: 25px;
}

.home-section button {
  margin-top: 25px;
}

.sort-reviews-section {
  padding: 10px;
  background-color: #282c34;
  width: 80vw;
  max-width: 350px;
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
}

.sort-reviews-section select {
  border: white;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  margin-left: 2vw;
}

.sort-reviews-section button {
  padding: 5px 2vw 5px 2vw;
  height: 30px;
  font-size: x-small;
  margin-top: 20px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.sort-reviews-button-section {
  display: block;
}

#search-btn {
  background-color: #264953;
}

.review-list-section {
  margin-bottom: 25px;
  margin-top: 25px;
}

.review-list-cards {
  margin: auto;
  margin-top: 25px;
  background-color: darkcyan;
  width: 70vw;
  padding: 25px;
  border-radius: 5px;
  color: white;
}

.review-list-cards img {
  width: 70vw;
  max-width: 450px;
}

.votes-comments-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background-color: rgb(1, 73, 73);
  border-radius: 5px;
}

.single-review-section img {
  width: 70vw;
  max-width: 500px;
}

.single-review-date-username-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.review-body-section {
  width: 80vw;
  margin: auto;
}

.comment-section {
  font-size: smaller;
  margin: auto;
  width: 70vw;
  background-color: #282c34;
  padding: 10px;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}

.comment-section button {
  padding: 5px 2vw 5px 2vw;
  height: 30px;
  font-size: xx-small;
  margin-right: 2vw;
  background-color: #11407e;
}

.review-button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 25px;
}

.review-button-container button {
  font-size: small;
  padding: 10px 10px;
}

.post-message-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  width: 80vw;
  border-radius: 5px;
  background-color: #282c34;
  margin-bottom: 25px;
  padding: 15px;
  height: auto;
}

.post-message-section input {
  border: white;
  border-radius: 5px;
  padding: 5px;
  width: 40vw;
}

.post-message-section button {
  margin-left: 5vw;
  padding: 5px 20px 5px 20px;
  height: 30px;
}

.upvote-downvote-section button {
  margin-left: 3vw;
}

ul {
  list-style: none;
  padding-left: 0;
}
.category-list-section {
  border-radius: 5px;
  background-color: #282c34;
  padding: 15px;
  width: 70vw;
  margin: auto;
  margin-top: 20px;
}

.categories-review-list-section {
  margin: auto;
  padding: 15px;
  background-color: #282c34;
  border-radius: 5px;
  margin-top: 25px;
}

.no-page-section {
  width: 70vw;
  margin: auto;
  border-radius: 5px;
  padding: 25px;
  margin-top: 50px;
  background-color: #282c34;
}

.no-page-section h1 {
  font-size: 40px;
}

button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

button:hover:after {
  opacity: 0.5;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
    rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: 0.35s;
}

button:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}
